@model BuffaloTungsten.Models.OrderIndexViewModel

@{
    ViewBag.Title = "Order Management";
}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @Html.ActionLink("Create New Order","NewOrder")
        </div>
    </div>



